<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title></title>
      <script type="text/javascript" src="../scripts/jquery-1.6.1.min.js"></script>
	  
	  <!-- Knockout for data binding with contact name stored in javascriptfile.-->
      <script type="text/javascript" src="../scripts/ko/knockout-2.1.0.debug.js"></script>
	  
      <script type="text/javascript" src="../scripts/objects/model/contacts.js"></script> 
	  
	  <!-- Knockout for data binding with contact name stored in javascriptfile.-->
      <script type="text/javascript" src="../scripts/objects/model/dataStore.js"></script> 
	  
	  <!-- The script file containing the information of people in JSON format.-->
      <script type="text/javascript" src="../scripts/objects/viewModel/contactsViewModel.js"></script>
	  
	  <!--Populate table with the the data from the JSON file explicitly without knockout data binding.-->
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
	  	  
	  <!-- Styling sheet.-->
      <link type="text/css" rel="Stylesheet" href="../Content/Metro/jquery.metro.css" />
      <link rel="stylesheet" href="styles.css" />
      <script>
         $(document).ready(function() {
           
            var contactsViewModel = new ContactsViewModel();
            
			// Activate knockout to apply data bindings.
            ko.applyBindings(contactsViewModel);      
         }); 

    $(function() {

	var img = new Image();
   var people = [];
	/* Retrieve names from the json file and display it in table */
   $.getJSON('people.json', function(data) {
       $.each(data.person, function(i, f) {
			img = f.image;
			
          var tblRow = "<tr>" + "<td>" + f.id + "</td>" +
           "<td>" + f.firstName + "</td>" + "<td>" + f.lastName + "</td>" + "<td>" + f.companyName + "</td>" + "<td>" + "<img src = " + img + ">" +"</td>"+ "<td>" + f.emailAddress + "</td>" + "</tr>"
           $(tblRow).appendTo("#userdata tbody");
     });

   });

});	
	$(document).ready(function(){
    $("#hide").click(function(){
        $("#userdata").hide();
    });
    $("#show").click(function(){
        $("#userdata").show();
    });
	});
     </script>
   </head>
   <body marginwidth="100x" marginheight="100x" topmargin="100px" leftmargin="10000px" rightmargin="0" bottommargin="0" accent="blue" theme="dark">
      <h1 class="accent-color">Friends in Baltimore!!!!</h1>
	  </br>
      <div class="apptitle">
         <span class="accent-color">List of</span> People I met in Baltimore in the past year.
         &nbsp;&nbsp;		 
      </div>      
      </br>
	  <!-- Change the current context to the Home section -->
      <div data-bind="visible: currentContext() == 'home' ">
         
         <button data-bind="click: viewAll"><a>View People</a>
         </button>
         </br>
         </br>
         </br>
         </br>
         <em>Click View People to view the list. </em>
		 </br>
         </br>
		<iframe src="http://www.youtube.com/embed/TMQIdU_zOE8"
			width="560" height="315" frameborder="0" allowfullscreen></iframe>
         </br>
         </br>
		
		 </br>
         </br>
		</br>
         </br>
		 <!-- Map -->
		<section id="contact" class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d34926.091673013136!2d-76.64004946575088!3d39.30957402781514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x89c8049efd60d10b%3A0x4ac920a41440fb06!2sDowntown%2C+Baltimore%2C+MD!3m2!1d39.292007!2d-76.6167212!4m5!1s0x89c804df8502f88d%3A0x303d58494fa04c66!2sJohns+Hopkins+University+Baltimore%2C+MD+21218!3m2!1d39.329901299999996!2d-76.6205177!5e0!3m2!1sen!2sus!4v1481705848013" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br />
    </section>
      </div>
	  
	<button id="hide">Hide Contact Table </button>
	<button id="show">ShowTable</button>
	</br>
    </br>
	
	<table id= "userdata" border="2">
	</br>
    </br>
	
	  <thead>
        <th>ID</th>
		<th>First Name</th>
        <th>Last Name</th>
        <th>Company Name</th>
	    <th>Image</th>
	    <th> Email Address</th>
			
	  </thead>
	<tbody>

	</tbody>
	</table>
		


	  
	  <!-- View All Contacts section -->
      <div data-bind="visible: currentContext() == 'all' ">
         <button data-bind="click: reset"><a>Home</a>
         </button>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         <div id="ListMenu">
			<small><strong>Stock photos not the real pics. Click on the names to get more information.</strong></small>
			</br>
            <!-- iterate through the contacts from the view model -->	
            <ul data-bind="foreach: contacts">
               <div>
                  <img width="100" height="100" align="middle" style="padding:5px" data-bind="attr: { src: pictureURL }" /></img>
                  <a style="font-size:15pt;cursor:pointer;color:#067EBF" data-bind="text: fullName,click: $parent.setCurrentContacts  "></a>	
               </div>
            </ul>
         </div>
      </div>
	  <!-- Contacts Detail section, on click change context-->      
	  <div data-bind="visible: currentContext() == 'detail' ">
         <button data-bind="click: viewAll"><a>Go Back</a>
         </button>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         <img width="200" height="200" align="middle" style="padding:5px" data-bind="attr: { src: currentContactsPictureURL }" /></img>
         <h1 data-bind="text: currentContactsFullName "></h1>
         </br>
         <h2 data-bind="text: currentContactsEmailAddress "></h2>
      </div>
   </body>
</html>	